[submodule "dslldb"]
	path = dslldb
	url = ../../DerekSelander/LLDB.git
[submodule "fbchisel"]
	path = fbchisel
	url = ../../facebook/chisel.git
[submodule "lldb-fmtlog"]
	path = lldb-fmtlog
	url = ../../anpol/lldb-fmtlog.git
[submodule "lldb-script-utils"]
	path = lldb-script-utils
	url = ../../anpol/lldb-script-utils.git
[submodule "lldb-swift-string-index"]
	path = lldb-swift-string-index
	url = ../../anpol/lldb-swift-string-index.git
